@{
    Layout="~/Shared/_Layout.cshtml";
    Page.Title="Welcome";    
}

        <!-- Slider
    ======================================================================== -->
    <div class="flexslider-wrapper">
        <div class="container">
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/Content/images/content/wide_picture_05.jpg" alt="C" />
                        <div class="overlay"></div>
                        <div class="flex-caption">
                            <h3>Save Generated Output</h3> <p>Output is saved for further viewing. You don't have to create another one. Instead you can open, edit and submit this.</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/images/content/wide_picture_04.jpg" alt="C" />
                        <div class="overlay"></div>
                        <div class="flex-caption">
                            <h3>Preview Option</h3> <p>Result of the query can be previewed before saving and mailing it. You can make required changes looking at the preview.</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/images/content/wide_picture_06.jpg" alt="C" />
                        <div class="overlay"></div>
                        <div class="flex-caption">
                            <h3>Complete Mobile Support</h3> <p>This database generator is easily accessible through mobile. It is completely user friendly and has very good viewing options!</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="sep90">
        <!-- Intro -->
        <p align="justify">
         Lacking time to install the software and put your database on? Going to get fired if your printer is out of catridge and you have to give your boss the database report? Need a database report generator which you can access easily from your mobile? Here it is! QueryCharter, the all new database generator provides it all! It supports Oracle, MySQL and SQL Server database, saves generated report in case you have to view it later, instant email generated report, very easily accessible through mobile, supports pie chart, bar and line graphs, previews output before generating report so that you can make necessary changes. So hurry up and log on to our website! 
        </p>
            <hr class="sep30">

        <!-- Services -->
         <!-- List Styles -->
        <div class="intro">
            <h3 class="headline">Features</h3>
            <ul class="circle">
                <li>Supports Oracle, MySQL and SQL Server database.</li>
                <li>Save generated report for viewing later.</li>            
                <li>Email generated report instantly.</li>
                <li>Site optimized for viewing in mobile.</li>            
                <li>Supports Pie Chart, Bar, Line and Curve Graphs.</li>
                <li>Preview output before generating actual reports.</li>
            </ul>
        </div>
        <!-- Services / End -->

        <!-- Logo List -->
        <h3 class="headline">Technologies</h3>
        <ul class="logo-list clearfix">           
            <li class="one-fifth"><a href="#"><img src="~/Content/images/content/Logo4.jpg" alt="D" /></a></li>           
            <li class="one-fifth"><a href="#"><img src="~/Content/images/content/Logo5.jpg" alt="E" /></a></li>
            <li class="one-fifth"><a href="#"><img src="~/Content/images/content/Logo3.jpg" alt="C" /></a></li> 
            <li class="one-fifth"><a href="#"><img src="~/Content/images/content/Logo1.jpg" alt="A" /></a></li>
            <li class="one-fifth"><a href="#"><img src="~/Content/images/content/Logo2.jpg" alt="B" /></a></li>
        </ul>